<div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-folder"></i>
                <span class="tab-title">Sinistre</span>
            </ng-template>
            <div class="row">
                <div class="col-md-6">
                    <div class="lbl-cont green-color font-bold">Date de l'accident </div>
                    <div class="input-cont input-details">{{ claimDetails.accidentDate }}</div>
                </div>
                <div class="col-md-6">
                    <div class="lbl-cont green-color font-bold">Date de création </div>
                    <div class="input-cont input-details">{{ claimDetails.creationDate }}</div>
                </div>
            </div>
            <div class="row">
                <div class="lbl-cont-full green-color font-bold">Statut du sinistre </div>
                <div class="input-cont input-details-tag"><p-tag [value]="claimDetails.status" [severity]="getClaimSeverity(claimDetails.status)"></p-tag></div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="pi pi-list"></i>
                <span class="tab-title">Contrat</span>
            </ng-template>
            <div class="row">
                <div class="col-md-6">
                    <div class="lbl-cont green-color font-bold">N° du contrat </div>
                    <div class="input-cont input-details">{{ contractDetails.contractNo }}</div>
                </div>
                <div class="col-md-6">
                    <div class="lbl-cont green-color font-bold">Nom de l'assuré </div>
                    <div class="input-cont input-details">{{ contractDetails.insuredName }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="lbl-cont green-color font-bold">Date de début </div>
                    <div class="input-cont input-details">{{ contractDetails.startDate }}</div>
                </div>
                <div class="col-md-6">
                    <div class="lbl-cont green-color font-bold">Date de fin </div>
                    <div class="input-cont input-details">{{ contractDetails.endDate }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="lbl-cont green-color font-bold">Immatriculation </div>
                    <div class="input-cont input-details">{{ contractDetails.vehicleRegistrationNo }}</div>
                </div>
                <div class="col-md-6">
                    <div class="lbl-cont green-color font-bold">Statut du contrat </div>
                    <div class="input-cont input-details-tag"><p-tag [value]="contractDetails.status" [severity]="getContractSeverity(contractDetails.status)"></p-tag></div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <i class="pi pi-image"></i>
                <span class="tab-title">Photos</span>
            </ng-template>
            <div class="center" *ngIf="pictures.length == 0">
                Aucune photo trouvée !
            </div>
            <div class="center" *ngIf="pictures.length > 0">
                <div class="row-pic">
                    <div class="pic-container card" *ngFor="let picture of pictures">
                        <div (click)="showPicture(picture.publicId)">
                            <img class="claim-pic" src="{{ backEndUrl + '/picture/download/' + picture.publicId }}" alt="" srcset="" />
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>
<div class="card flex justify-content-center">
    <p-dialog header="Photos sinistre n° {{ claimNo }}" [(visible)]="viewPictureDialog" [style]="{width: 'auto', 'max-height': '80vh', 'min-height': '80vh', 'max-width': '70vw', 'min-width': '70vw'}"
        (onHide)="hideViewPictureDialog()" [modal]="true">
        <div class="row big-pic-container">
            <div class="pic-view-action">
                <p-button icon="pi pi-chevron-left" styleClass="p-button-rounded p-button-outlined" (onClick)="showPreviousPicture()"></p-button>
            </div>
            <img id="picture-animmating" class="big-pic" src="{{ backEndUrl + '/picture/download/' + pictureToShow }}" alt="" srcset="">
            <div class="pic-view-action">
                <p-button icon="pi pi-chevron-right" styleClass="p-button-rounded p-button-outlined" (onClick)="showNextPicture()"></p-button>
            </div>
        </div>
    </p-dialog>
</div>