.title {
    color: #008B7B;
    font-size: 26px;
    padding-top: 8px;
}

.auth-header {
    margin: 0% !important;
    padding: 4px 6px;
    display: flex;
    flex-direction: row;
}

.logo-img {
    width: 45px;
    height: auto;
    margin-left: 12px;
    margin-right: 10px;
}