<div class="side-bar-div card">
    <a routerLinkActive="active" [routerLink]="['/auto-claim/home']" class="side-bar-item">
        <div class="item-icon">
            <i class="pi pi-home"></i>
        </div>
        <div class="item-title">
            Accueil
        </div>
    </a>
    <a routerLinkActive="active" [routerLink]="['/auto-claim/contract']" class="side-bar-item">
        <div class="item-icon">
            <i class="pi pi-list"></i>
        </div>
        <div class="item-title">
            Contrats
        </div>
    </a>
    <a routerLinkActive="active" [routerLink]="['/auto-claim/claim']" class="side-bar-item">
        <div class="item-icon">
            <i class="pi pi-folder-open"></i>
        </div>
        <div class="item-title">
            Sinistres
        </div>
    </a>
</div>