<div class="row stat-1">
    <div class="card stat-card">
        <div class="row card-header">
            <div class="icon card">
                <i class="pi pi-users" style="font-size: 2.5rem"></i>
            </div>
            <div class="icon-label green-color">
                Utilisateurs
            </div>
        </div>
        <div class="row">
            <div class="card usr-count green-color">
                {{ userCount }}
            </div>
        </div>
    </div>
    <div class="card stat-card flex justify-content-center">
        <p-chart height="220px" type="doughnut" [data]="contractDataPie" [options]="contractOptionsPie"></p-chart>
        <div class="stat-title green-color">
            Statut des contrats
        </div>
    </div>
    <div class="card stat-card flex justify-content-center">
        <p-chart height="220px" type="doughnut" [data]="claimDataPie" [options]="claimOptionsPie"></p-chart>
        <div class="stat-title green-color">
            Statut général des sinistres
        </div>
    </div>
</div>
<div class="row stat-2">
    <div class="card claim-diagram">
        <p-chart height="calc(100vh - 470px)" class="claim-chart" type="line" [data]="data" [options]="options"></p-chart>
    </div>
</div>